.*venv/
__pycache__/

*backup*
*old*
alex-matrices-*/
*.zarr
# comment to save checkpoints
# checkpoints/

*.mmap

# logs
*.log
*.pth
*-act

*.aux
*.bbl
*.blg
*.log
*.bcf
*.gz
*.toc
*.xml
.fls
.out
.fdb_latexmk

build/

todo.md